.autocompleter {
	width: 100%;
	background: #dddddd;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 100;
}

.autocompleter, .autocompleter-hint {
	position: absolute;
}

.autocompleter-list {
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.1);
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.autocompleter-item-selected {
	background: #ffffff;
}

.autocompleter-item {
	padding: 6px 12px;
	color: #444444;
	font-size: 14px;
	cursor: pointer;
}

.autocompleter-item:hover {
	background: #dbed8a;
}

.autocompleter-item strong {
	background: #f9de8f;
	text-shadow: 0 1px 0 #ffffff;
}

.autocompleter-item span {
	color: #bbbbbb;
}

.autocompleter-hint {
	color: #ccc;
	text-align: left;
	top: -39px;
	/* font-weight: 100; */
	left: 0;
	width: 100%;
	padding: 12px 12px 12px 13px;
	font-size: 16px;
	display: none;
}

.autocompleter-hint span {
	color: transparent;
}

.autocompleter-hint-show {
	display: block;
}

.autocompleter-closed {
	display: none;
}